*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    /*border: 2px solid #faf;*/
    /* outline: 1px solid #000; */

}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 50px;
    padding: 0 15px;
    background-color: #fff;
}
img {
    vertical-align: bottom;
}
a {
    color: #111;
    font-size: 16px;
    text-decoration: none;
}


header .container{
    display: flex;
    margin: auto;
}
header .mainLogo {
    width: 15%;
    padding: 10px 20px;
}
header nav {
    width: 85%;
    padding-left: 20%;
}
header .mainMenu ul {
    padding: 10px 20px;
    display: flex;
    line-height: 76.16px;
}
header .mainMenu li {
    width: 100%;
    display: flex;
    justify-content: center;
}


.banner img {
    width: 100%;
}


.travel {
    background: linear-gradient(0deg, #cbf, #fff);
}
.travel .container{
    /* outline: 1px solid #000; */
    /*background-color: #fa0;*/
    background-color: transparent;
}

.travel .title {
    display: block;
    margin: -85px 0 50px;
}
.travel .title span{
    padding: 20px 30px 0 20px;
    border-top-right-radius: 20px;
    font-size: 56px;
    background-color: #fff;
    position: relative;
}
.travel .title span:before {
    content: "";
    width: 60%;
    height: 5px;
    background-color: #ca0;
    border-radius: 20px;
    position: absolute;
    bottom: -10px;
    left: 20px;
}




.travel .item ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.travel .item li {
    cursor: pointer;
    width: 18%;
    padding: 5px 15px;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 1px 1px 5px #000;
    position: relative;
    z-index: 1;
}

.travel .item li::before {
    content: "";
    border-radius: 50px/50px;
    width: 0%;
    height: 80%;
    background: linear-gradient(0deg, #cbf, #fff);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: .2s;

}
.travel .item li::after {
    content: "";
    border-radius: 50px/50px;
    width: 0%;
    height: 100%;
    background: linear-gradient(0deg, #fc0, #fff);
    box-shadow: 3px 1px 8px #000;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: .2s;
}

/* .travel .item li:hover {
    box-shadow: 0 0 5px #000 inset,
                0 0 5px #000 inset;
    transition: 1.5s;
} */
.travel .item li:hover:before{
    transition: .2S ease-out;
    width: 100%;
}
.travel .item li:hover:after{
    transition: .2S ease-out;
    width: 80%;
}
.travel .item  li:hover h2 {
    color: #00a;
    transition: 1s;
}




.travel .item li h2 {
    color: #333;
    text-align: center;
    font-size: 20px;
}
.travel img {
    width: 100%;
}
.travel .itemGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.travel .list {
    width: 23%;
    /* padding: 20px; */
    margin-bottom: 25px;
}
.travel .itemGroup img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 10px #000;
}
.travel .itemGroup h3 {
    color: #333;
    margin-bottom: 10px;
    /* text-align: center; */
}
.travel .itemGroup p {
    color: #555;
}



.hotel .container {
    max-width: 100%;
    padding: 0;
    position: relative;
}
.hotel img {
    width: 100%;
    
}
.hotel .txt {
    position: absolute;
    top: 0;
    left: 0;
}
.hotel span {
    font-size: 50px;
}